.idea/encodings.xml
.idea/indexLayout.xml
.idea/vcs.xml
.idea/.idea.TaskManager/.idea/.name
.idea/.idea.TaskManager/.idea/encodings.xml
.idea/.idea.TaskManager/.idea/indexLayout.xml
.idea/.idea.TaskManager/.idea/vcs.xml
TM.01.Domain/bin/*
TM.91.Domain.Tests/bin/Debug/*
TM.91.Domain.Tests/obj/*
TM.01.Domain/obj/*
TM.91.Domain.Tests/*
