.idea/encodings.xml
.idea/indexLayout.xml
.idea/vcs.xml
.idea/.idea.TaskManager/.idea/.name
.idea/.idea.TaskManager/.idea/encodings.xml
.idea/.idea.TaskManager/.idea/indexLayout.xml
.idea/.idea.TaskManager/.idea/vcs.xml
TM.01.Domain/bin/*
TM.02.Database/bin/*
TM.91.Domain.Tests/bin/Debug/*
TM.91.Domain.Tests/obj/*
TM.01.Domain/obj/*
TM.02.Database/obj/*
TM.91.Domain.Tests/*

.fake
TM.03.Interface/obj/Debug/net9.0/TM.03.Interface.GlobalUsings.g.cs
TM.03.Interface/obj/Debug/net9.0/TM.03.Interface.GeneratedMSBuildEditorConfig.editorconfig
TM.03.Interface/obj/Debug/net9.0/TM.03.Interface.csproj.AssemblyReference.cache
TM.03.Interface/obj/Debug/net9.0/TM.03.Interface.assets.cache
TM.03.Interface/obj/Debug/net9.0/TM.03.Interface.AssemblyInfoInputs.cache
TM.03.Interface/obj/Debug/net9.0/TM.03.Interface.AssemblyInfo.cs
TM.03.Interface/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
TM.03.Interface/obj/TM.03.Interface.csproj.nuget.g.targets
TM.03.Interface/obj/TM.03.Interface.csproj.nuget.g.props
TM.03.Interface/obj/TM.03.Interface.csproj.nuget.dgspec.json
TM.03.Interface/obj/project.nuget.cache
TM.03.Interface/obj/project.assets.json
TM.03.Interface/bin/Debug/net8.0/TM.01.Domain.dll
TM.03.Interface/bin/Debug/net8.0/TM.01.Domain.pdb
TM.03.Interface/bin/Debug/net8.0/TM.02.Database.dll
TM.03.Interface/bin/Debug/net8.0/TM.02.Database.pdb
TM.03.Interface/bin/Debug/net8.0/TM.03.Interface.deps.json
TM.03.Interface/bin/Debug/net8.0/TM.03.Interface.dll
TM.03.Interface/bin/Debug/net8.0/TM.03.Interface.pdb
TM.03.Interface/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
TM.03.Interface/obj/Debug/net8.0/TM.03.In.A20305DF.Up2Date
TM.03.Interface/obj/Debug/net8.0/TM.03.Interface.AssemblyInfo.cs
TM.03.Interface/obj/Debug/net8.0/TM.03.Interface.AssemblyInfoInputs.cache
TM.03.Interface/obj/Debug/net8.0/TM.03.Interface.assets.cache
TM.03.Interface/obj/Debug/net8.0/TM.03.Interface.csproj.AssemblyReference.cache
TM.03.Interface/obj/Debug/net8.0/TM.03.Interface.csproj.CoreCompileInputs.cache
TM.03.Interface/obj/Debug/net8.0/TM.03.Interface.csproj.FileListAbsolute.txt
TM.03.Interface/obj/Debug/net8.0/TM.03.Interface.dll
TM.03.Interface/obj/Debug/net8.0/TM.03.Interface.GeneratedMSBuildEditorConfig.editorconfig
TM.03.Interface/obj/Debug/net8.0/TM.03.Interface.pdb
TM.03.Interface/obj/Debug/net8.0/TM.03.Interface.sourcelink.json
TM.03.Interface/obj/Debug/net8.0/ref/TM.03.Interface.dll
TM.03.Interface/obj/Debug/net8.0/refint/TM.03.Interface.dll
